# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Pytest
.pytest_cache/

# Editor directories and files
.vscode/
.idea/
*.swp
.DS_Store

# Environment files
.env

# Logs
*.log

# Kubernetes secrets
infra/grafana-agent/secret.yaml
infra/grafana-agent/*.local.yaml

# Helm local secret overrides
infra/app-chart/values.local.yaml
infra/app-chart/values.yaml
