name: CD Pipeline

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  development:
    uses: ./.github/workflows/development.yml

  build-docker:
    runs-on: ubuntu-latest
    needs: [development]
    name: Build and Push Docker Image
    permissions:
      packages: write
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}
