name: Default CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  PYTHON_VERSION: "3.11"

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: Code Lint
    env:
      FLAKE8_VERSION: "7.3.0"
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4

      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: flake8 lint
        uses: py-actions/flake8@v2
        with:
          flake8-version: ${{ env.FLAKE8_VERSION }}

  docker-lint:
    runs-on: ubuntu-latest
    name: Dockerfile Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v2.3.0
        with:
          dockerfile: ./Dockerfile

  test:
    runs-on: ubuntu-latest
    name: Run Tests
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          pip install pytest pytest-cov
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run tests
        run: |
          pytest test_app.py -v --cov=. --cov-report=term-missing:skip-covered --junitxml=pytest.xml | tee pytest-coverage.txt

      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@v1.2.0
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml

  build-docker:
    runs-on: ubuntu-latest
    needs: [test]
    name: Build Docker Image
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4

      - name: Build Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false

  scorecard:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    name: Security Scorecard
    permissions:
      security-events: write
      id-token: write
      contents: read
      actions: read
      issues: read
      pull-requests: read
      checks: read
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Run analysis
        uses: ossf/scorecard-action@v2.4.0
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload to code-scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
