name: OpenSSF Scorecard

on:
  push:
    branches: [main]
  schedule:
    - cron: "0 0 * * 0"

permissions: read-all

jobs:
  scorecard:
    runs-on: ubuntu-latest
    name: Security Scorecard Analysis
    permissions:
      security-events: write
      id-token: write
      contents: read
      actions: read
      issues: read
      pull-requests: read
      checks: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Run analysis
        uses: ossf/scorecard-action@v2.4.0
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload to code-scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
